body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(136, 186, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title-first-letter{
  display:inline-block;
  font-size: 120px;
  font-family: Arial bold;
  color: white;
  height: 120px;
}
.title{
  /* position:fixed;
  top: 20px;
  left: 6px; */
  display: inline-block;
  font-family: Arial;
  font-size: 50px;
  color: white;
  height: 100px;
  vertical-align: top;
  padding-top: 10px;
  text-decoration: underline;
}

.buttons-container{
  position: fixed;
  top: 80px;
  right: 2%;
}

input{
  height: 26px;
  width: 150px;
  margin-left: 230px;
  font-size: 16px;
  outline: none;
}

h3 {
  width: 600px;
  margin-top: 60px;
  text-align: center;
  margin-left: 60px;
  float: left;
}

.display-container {
  /* margin-top: 20px; */
  margin-left: 80px;
  overflow: scroll;
  height: 560px;
  width: 1360px;
  display: grid;
  grid-template-columns: 600px 650px;
}

.images-container {
  display: grid;
  /* grid-template-rows: */
  height: 560px;
  overflow: scroll;
  grid-template-columns: 600px;

}


.comment-container{
  height: 500px;
  width: 620px;
  overflow-x: hidden;
  border: solid 6px rgb(37, 37, 44);
  float: right;
  position: fixed;
  bottom: 5px;
  right: 30px;
  display: grid;
}

.comment{
  /* padding: 30px 0 0 0; */
  padding: 12px 0 12px 8px;
  display: inline-block;
  border: solid rgb(53, 53, 61);
  border-width: 2px 0 2px 0;
  color: white;
}

.comment-gifs{
  height: 80px;
}

.description {
  width: 700px;
  text-align: center;
}

.comment-title{
  position: fixed;
  right: 33%;
  top: 30%;
  font-size: 25px;
}

button {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, rgb(92, 92, 104), rgb(38, 38, 43));
  background-image: -moz-linear-gradient(top, rgb(92, 92, 104), rgb(38, 38, 43));
  background-image: -ms-linear-gradient(top, rgb(92, 92, 104), rgb(38, 38, 43));
  background-image: -o-linear-gradient(top, rgb(92, 92, 104), rgb(38, 38, 43));
  background-image: linear-gradient(to top, rgb(92, 92, 104), rgb(38, 38, 43));
  /* -webkit-border-radius: 26;
  -moz-border-radius: 26; */
  /* border-radius: 26px; */
  font-family: Arial;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  /* border: solid #f4f6f7 2px; */
  text-decoration: none;
  margin: 0 20px 0 20px;
  outline: none;
  border: none;
  display:inline-block;
}

button:hover {
  background: #b2d7ed;
  background-image: -webkit-linear-gradient(top, #222425, #0d1012);
  background-image: -moz-linear-gradient(top, #222425, #0d1012);
  background-image: -ms-linear-gradient(top, #222425, #0d1012);
  background-image: -o-linear-gradient(top, #222425, #0d1012);
  background-image: linear-gradient(to top, #222425, #0d1012);
  
  text-decoration: none;
}