:root {
  --blue: #3c69ff;
  --gray: #2c2f34;
  --black: #141518;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .1fr .1fr .8fr;
  grid-template-areas:
    "header header"
    "buttons buttons"
    "display comments";
  background-color: var(--black);
  /* background-color: white; */
}

.header{
  grid-area: header;
  padding-left: 1em;
  background-color: var(--gray);
}

.icon{
  color: var(--blue);
  font-size: 3em;
}

.title-first-letter{
  display:inline-block;
  font-size: 4em;
  font-family: Arial bold;
  color: white;
}
.title{
  display: inline-block;
  font-family: Arial;
  font-size: 1em;
  color: white;
  vertical-align: top;
  padding-top: 15px;
  text-decoration: underline var(--blue);
}

.buttons-container{
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    ". . . prev next . input-num send";
  justify-items: center;
  align-items: center;
}


.prev-button{
  grid-area: prev;
}
.next-button{
  grid-area: next;
}

.prev-button, .next-button{
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 12px;
    color: white;
    background-color: var(--black);
    border: solid white 2px;
    outline: none;
}

input{
  grid-area: input-num;
  outline: none;
  font-size: .9em;
  padding: 8px 10px;
  background-color: rgb(205, 203, 203);
  border: 0px solid
}

input:focus{
  background-color: white;
}

.send{
  grid-area: send;
  padding: 7px 12px;
  font-size: 1em;
  border-radius: 12px;
  color: white;
  background-color: rgb(63, 136, 85);
}

.send:hover{
  background-color: rgb(74, 160, 100);
}

.prev-button:hover, .next-button:hover {
  background-color: white;
  color: black;
}

h3 {
  font-size: 1.6em;
}

.display-container {
  grid-area: display;
  height: 74vh;
  overflow: scroll;
  padding: 1.1em 1.5em;
  margin: .6em 1.5em 0 1.1em;
  background-color: var(--gray);
  border-radius: 12px;
  color: white;
}

.comment-container{
  position: relative;
  grid-area: comments;
  height: 74vh;
  padding: 1.1em 1.5em;
  margin: .6em 1.5em 0 1.1em;
  background-color: var(--black);
  border-radius: 12px;
  color: white;
  overflow-y: scroll;
}

.comment-title{
  font-size: 1.5em;
  box-sizing: border-box;
  background-color: var(--blue);
  padding: .5em;
  margin: -.8em -1em 1em -1em;
  position: sticky;
  top: -.8em;
  text-align: center;
  z-index: 1;
  border-bottom: solid 2px grey;
}

.comment {
	/* background: #efefef; */
  border-radius: 4px;
  font-size: 1em;
  line-height: 1.3;
  margin: 1em .5em;
  padding: 15px;
  position: relative;
  /* color: black; */
  background: rgb(101, 100, 100);
  color: white;
}

.comment::after {
  border-left: 20px solid transparent;
  border-bottom: 20px solid rgb(101, 100, 100);
  left: -18px;
  content: "";
  position: absolute;
  bottom: 0px;
}

.comment-gifs{
  max-height: 9em;
}
